$background-color: #282f38;
$primary-color: #852cc1;
$white-color: #ffffff;
$link-color: #474747;
$border-color: #909090;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    outline: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    background-color: $background-color;
    min-height: calc(100vh - 7%);
}

.header {
    display: flex;
    width: 80%;
    max-width: 800px;
    margin: 7% auto 0;
    margin-bottom: 15px;
    justify-content: space-between;
}

.align-left {
    display: flex;
    padding: 8px;
    align-items: center;
}

.white-container {
    display: flex;
    width: 80%;
    max-width: 800px;
    padding: 30px;
    margin: 0 auto;
    border: 1px solid $border-color;
    border-radius: 8px;
    background-color: $white-color;
    justify-content: center;
}

.menu-container {
    display: block;
    width: 35%;
    padding-right: 20px;
}

.tu-cuenta {
    padding-left: 24px;
    margin: 0;
    margin-left: -30px;
    font-family: "Source Sans Pro";
    font-size: 32px;
    font-weight: normal;
    color: $background-color;
    border-left: 6px solid $primary-color;
}

.cuenta-info {
    display: block;
    width: 100%;
}

#nombre {
    display: inline-block;
    margin-right: 10px;
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
    color: $white-color;
}

.links {
    position: relative;
    display: block;
    padding: 0;
    margin: 20px 0;
    margin-bottom: 30px;
    font-family: "Source Sans Pro";
    font-size: 16px;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    text-align: left;
    color: $link-color;
    border: 0;
    background-color: transparent;
}

.links:hover {
    margin-left: 10px;
    color: $primary-color;
}

.pesos-container {
    display: flex;
    width: 80%;
    text-align: center;
    color: white;
    border-radius: 8px;
    background-color: $primary-color;
    align-items: center;
}

.cuenta-container {
    width: 35%;
}

#saldo-cuenta {
    margin-top: 5%;
    margin-bottom: 5%;
    overflow: hidden;
    font-size: 6.5vw;
    text-align: center;
    text-overflow: ellipsis;
}

#limite-extraccion {
    overflow: hidden;
    font-size: 15px;
    text-overflow: ellipsis;
}

footer {
    color: #fff;
    height: 20px;
    width: 80%;
    max-width: 800px;
    align-items: flex-end;
    justify-content: center;
    font-size: 12px;
    margin: 0% auto 0;
    margin-top: 10px;
  }
  
  footer a {
    text-decoration: none;
    color: #fff;
  }

@media only screen and (max-width: 800px) {
    .white-container {
        flex-direction: column-reverse;
    }

    .pesos-container {
        width: 100%;
        margin-bottom: 20px;
    }

    #saldo-cuenta {
        font-size: 8.5vw;
    }

    .menu-container {
        width: 100%;
    }

    .header {
        margin-bottom: 10px;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        margin-bottom: 10px;
    }
}